/* .contenedor-logo{ /*vista telefono*//*
  position: absolute;
  width: 100%;
  top: 50px;
  display: flex;
  justify-content: center;
} 
*/
/*
.logo {
  width: 90%;  
  
}
/*
@media (min-width: 768px) { 
  .contenedor-logo{
    position: absolute;
    left: 100px;
    top: 100px;
    width: 600px;
    height: 300px;
    
  }
  
  .logo {
    width: 100%; 
  }
}

.background-image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}