.link:hover {
  font-weight: bold;
  text-decoration-line: none;
}

.footer-title:hover {
  opacity: 100;
  font-weight: bolder;
  text-decoration-line: none;
}

.footer-title2 {
  margin-bottom: 0.5rem/* 8px */;
  font-weight: 900;
  text-transform: uppercase;
  opacity: 0.5;
}






.custom-shape-divider-top-1698008434 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1698008434 svg {
  position: relative;
  display: block;
  width: calc(107% + 1.3px);
  height: 21px;
}

.custom-shape-divider-top-1698008434 .shape-fill {
  fill: #171717;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1698008434 svg {
      width: calc(100% + 1.3px);
      height: 16px;
  }
}