@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}



.menu-item {
  min-width: 150px;
  min-height: 50px; 
}

.menu-item a {
  display: flex;
  width: 100%;
  height: 100%;
  /* border: solid 1px red; */
  justify-content: center;
}
